@charset "utf-8";
body{
    font-family: 'Noto Serif JP',serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #384878;
    height: 50px;
}
h5{
    margin-left: 5px;
    margin-bottom: 0px;
    color: white;
    font-size: 1rem;
    display: block;
}

.nav{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.nav a{
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}
.icon-a:hover{
    background-color: white;
    color: #384878;
    border-radius: 5px;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.logo a{
    text-decoration: none;
    color: white;
}
.logo1{
    color: white;
    font-size: 1.7rem;
}

@media (max-width: 750px){

header{
    flex-direction: column;
    height: 70px;
}

.nav{
    margin-right: 1px;
}

.logo1{
    font-size: 1.5rem;
}

h5{
    font-size: 0.75rem;
}

.nav{
    justify-content: space-around;
}

.nav a{
    padding: 5px 15px;
    font-size: 1.1rem;
}


}