@charset "utf-8";

.main-d{
    background-color: #EEEEEE;
    height: 100vh;
}
.confirm-main{
    width: 300px;
    margin: 0 auto;
}
.button-right{
    margin-left: 40px;

}

@media (max-width: 750px){

    .title{
        width: 80%;
    }

    .amount{
        width: 375px;
        margin: 0 auto;
        padding-top: 12px;
        background-color: white;
        color:  #384878;
        height: 100vh;
    }

    
}