@charset "utf-8";

.icon-group{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 15px;
}
.myclass1{
    -webkit-text-stroke: 2px white;
    font-size: 150px;
}
.welcome-img{
    height: 700px;
    width: 100%;
    object-fit: cover;
}
.img-1{
    padding: 15px 15px 15px 15px;
}
.icon{
    display: flex;
}
.plain-group{
    margin-left: 15px;
}
.plain-main{
    text-decoration: none;
    color: #384878;
    font-size: 1.3rem;
}
.plain{
    color: #384878;
    font-size: 0.9rem;

}
.back{
    background-color:  #384878;
    border-radius: 10px;
}
.title{
    width: 500px;
    margin: 25px auto 25px;
}
.title p{
    color: #384878;
    font-size: 1.7rem;
    text-align: center;
    border-bottom: 2px solid  #384878;
}

@media (max-width: 750px){

    .icon-group{
        flex-direction: column;
    }

    .title{
        width: 80%;
    }
    
    .welcome-img{
        height: 500px;
    }
    .plain{
        font-size: 0.75rem;
    
    }

    .icon{
        margin-top: 20px;
    }

    .icon-group{
        margin-top: 20px;
    }

    
    
    }
